* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix,
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after{
    clear: both;
}
body{
    font-family: Tahoma, sans-serif;
    position: relative;
    background: linear-gradient(to bottom, #40c5d3, #0c739f);
}

.wrapper{
    background: #fff;
    box-shadow: 0 3px 10px rgba(0,0,0,.5);
    margin:0 auto;
    width: 1000px;
}

.header{
    height: 175px;
    color: #1289a7;
    font-size: 12px;
}

.logo{
    float:left;
    padding: 10px 0 0 25px;
}
.logo a{
    display: inline-block;
}
.contacts, .directions {
    float: right;
}
.contacts{
    opacity: .8;
    line-height: 1.5;
    padding: 10px 30px 0 0;
}
/*меню стран*/
.directions{
    clear:right;
    padding: 23px 25px 0 0;
}
.directions .navigation{
    font-size: 0;
}
.directions .navigation li{
    display: inline-block;
}
.directions .navigation li a{
    display: inline-block;
    text-align: center;
    padding-top: 50px;
    color: #1289a7;
    font-size: 10px;
    background-position: center top;
    background-repeat: no-repeat;
    width: 55px;
}
.directions .navigation .india a{
    background-image: url("../img/india.png");
}
.directions .navigation .nepal a{
    background-image: url(../img/nepal.png)
}
.directions .navigation .tibet a{
    background-image: url(../img/tibet.png)
}
.directions .navigation .butan a{
    background-image: url(../img/butan.png)
}
.directions .navigation .shi a{
    background-image: url(../img/sri.png)
}
.directions .navigation .mald a{
    background-image: url(../img/maldives.png)
}

.photo{
    background: url(../img/photo.jpg) no-repeat;
    height: 237px;
}
.menu{
    background: url(../img/panel.png) no-repeat;
    height: 29px;
    box-shadow: 0 3px 20px rgba(0,0,0,.6);
    position: relative; /*для отображения тени над колонками*/
}
.menu ul{
    text-align: center;
}
.menu li{
    display: inline-block;
    position: relative; /*для отображения выпадаюещего меню*/
}
.menu li a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    line-height: 29px;
    padding: 0 20px;
}
.menu .triangle:after {
    position: absolute;
    top: 14px;
    right: 5px;
    width: 0;
    height: 0;
    content: " ";
    border: 4px solid;
    border-color:  #fff transparent transparent transparent;
}
/*выпадающее меню*/
.menu li ul{
    display: none;
    position: absolute;
    padding-left:0;
    width: 150px;
    background: #303030;
    box-shadow: 0 3px 20px rgba(0,0,0,.6);
}
.menu li ul li{
    white-space: nowrap;
}
.menu li:hover ul{
    display: block;
    left:0;
}

/* Контент*/
.content{
    height:550px;
}
.left_block, .right_block{
    width: 210px;
    max-height: 550px;
    height: 100%;
    overflow: hidden;
    background: #edeef0;
    color: #414b43;
    text-align: center;
}
.left_block{
    float: left;
    border-right: 1px solid #c7cacf;
}
.left_block .caption, .right_block .caption{
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
}
.left_block p, .right_block p{
    line-height: 1.5;
    font-size: 14px;
}

.right_block{
    float: right;
    border-left: 1px solid #c7cacf;
}

.footer{
    clear: both;
    text-align: center;
    height: 25px;
    padding: 5px 0;
}


