//font colors
$white: #fff;
$logo: #3ac4b6;
$grey: #b0b0b0;



//bg colors
$bg_main_menu: #4ccfc1;
$bg_slider: #36c4b9;
$bg_bottom_menu: #3cc3b5;
$bg_footer: #2da89b;
$bg_white: #fff;
$bg_buttom: #3ac496;