$font_logo: "Lobster_1_4", sans-serif;
$font_content: "OpenSansRegular", sans-serif;
$font_common: "BebasNeue", sans-serif;

$shadow-black-light: 0 2px 2px rgba(0,0,0,.3);
$shadow-black-medium: 1px 2px 2px rgba(0,0,0,.4);
$shadow-white-hover:  0 0 8px rgba(255,255,255,.8);;

//line-height style
$lh-sm: 1.1em;
$lh-md: 1.3em;

//16px
$fs-base: 1rem;
//17px
$fs_buttom_a: 1.188rem;
//19px
$fs_button: 1.262rem;
//21px
$fs_menu: 1.313rem;
//24px
$fs-title-large: 1.938rem;
//31px
$fs-title: 1.688rem;
//33px
$fs_cart: 2.063rem;
//61px
$fs-title-extra-large: 3.813rem;

//opensans 17px
$fs_content: 1.063rem;
//15px
$fs_bottom_part: 0.938rem;

//logo
$fs_logo: 3.063rem;

//media_991
$fs-title-extra-large-991: 3rem;
$fs_content-991: 0.863rem;
$fs-title-991: 1rem;
$fs_buttom_a_991: 0.8rem;
$fs-title-large-991: 1.262rem;
$fs_bottom_part-991: 0.7rem;
$fs_cart-991: 1.688rem;
$fs_menu_991: 1rem;

//media_767
$fs-title-extra-large-767: 2rem;
$fs_content-767: 0.863rem;
$fs-title-767: 1rem;
$fs_buttom_a_767: 0.8rem;
$fs-title-large-767: 1rem;
$fs_bottom_part-767: 0.8rem;
$fs_cart-767: 1.2rem;
$fs_menu_767: 0.8rem;
$fs_logo_767: 2.5rem;


//12px = 0.75rem
//13px = 0.8125rem
//14px = 0.875rem
//15px = 0.9375rem
//16px = 1rem (base)
//18px = 1.125rem
//20px = 1.25rem
//22px = 1.375rem
//24px = 1.5rem
//26px = 1.625rem
//28px = 1.75rem
//30px = 1.875rem
//32px = 2rem
//34px = 2.125rem
//36px = 2.25rem
//48px = 3rem
//60px = 3.75rem