.about {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDI0MDAgMzQyIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImhhdDAiIGdyYWRpZW50VW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiB4MT0iNTAlIiB5MT0iMTAwJSIgeDI9IjUwJSIgeTI9Ii0xLjQyMTA4NTQ3MTUyMDJlLTE0JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzMTI1MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NDUwODMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjI0MDAiIGhlaWdodD0iMzQyIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
  background-image: -moz-linear-gradient(bottom, #312539 0%, #745083 100%);
  background-image: -o-linear-gradient(bottom, #312539 0%, #745083 100%);
  background-image: -webkit-linear-gradient(bottom, #312539 0%, #745083 100%);
  background-image: linear-gradient(bottom, #312539 0%, #745083 100%);
  color: $color_text;
  text-shadow: 0px 1px 0px #0f1518;
  padding: 70px 0;
  min-height: 340px;
  position: relative;

  .our_company1, .our_company2, .our_company3 {
    max-width: 280px;
    padding-left: 57px;
    position: relative;
    padding-right: 40px;

    h1 {
      font-size: 1.875rem;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
    p {
      font: {
        size: $fs-base;
        family: $font_light;
      }
      line-height: 24px;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      max-height: 122px;
      overflow: hidden;
    }
    a {
      text-decoration: none;
      display: block;
      color: $color_text;
      font-size: $fs-title;
      text-transform: uppercase;
      padding-top: 25px;
      text-align: right;

      &:hover {
        text-shadow: 0 0 8px rgba(255, 255, 255, .8);
      }
    }
  }
  .our_company1{
    @include before-absolute {
      @include icon(about1);
      left: 0;
    }
  }
  .our_company2 {
    @include before-absolute {
      @include icon(about2);
      left: 0;
    }
  }
  .our_company3 {
    @include before-absolute {
      @include icon(about3);
      left: 0;
    }
  }
}
