$font_light: "OpenSansLight", sans-serif;
$font_common: "LeagueGothicRegular", sans-serif;

$shadow-black-light: 0 2px 2px rgba(0,0,0,.3);
$shadow-black-medium: 1px 2px 2px rgba(0,0,0,.4);
$shadow-white-hover:  0 0 8px rgba(255,255,255,.8);;

//line-height style
$lh-sm: 1.1em;
$lh-md: 1.3em;

//16px
$fs-base: 1rem;
//18px
$fs-title: 1.125rem;
//24px
$fs-title-large: 1.5rem;
//32px
$fs-title-extra-large: 2rem;
//48px
$fs-large: 3rem;
//60px
$fs-extra-large: 3.75rem;

//12px = 0.75rem
//13px = 0.8125rem
//14px = 0.875rem
//15px = 0.9375rem
//16px = 1rem (base)
//18px = 1.125rem
//20px = 1.25rem
//22px = 1.375rem
//24px = 1.5rem
//26px = 1.625rem
//28px = 1.75rem
//30px = 1.875rem
//32px = 2rem
//34px = 2.125rem
//36px = 2.25rem
//48px = 3rem
//60px = 3.75rem