@charset "UTF-8";
@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular?#iefix") format("embedded-opentype"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
}
@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
}
/* line 1, ../sass/layout/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  /* line 8, ../sass/layout/_grid.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 13, ../sass/layout/_grid.scss */
  .container {
    width: 970px;
  }
}
/* line 17, ../sass/layout/_grid.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 23, ../sass/layout/_grid.scss */
.row {
  margin-left: -20px;
  margin-right: -20px;
}

/* line 27, ../sass/layout/_grid.scss */
.col, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
}

/* line 33, ../sass/layout/_grid.scss */
.col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 36, ../sass/layout/_grid.scss */
.col-xs-12 {
  width: 100%;
}

/* line 39, ../sass/layout/_grid.scss */
.col-xs-11 {
  width: 91.66666667%;
}

/* line 42, ../sass/layout/_grid.scss */
.col-xs-10 {
  width: 83.33333333%;
}

/* line 45, ../sass/layout/_grid.scss */
.col-xs-9 {
  width: 75%;
}

/* line 48, ../sass/layout/_grid.scss */
.col-xs-8 {
  width: 66.66666667%;
}

/* line 51, ../sass/layout/_grid.scss */
.col-xs-7 {
  width: 58.33333333%;
}

/* line 54, ../sass/layout/_grid.scss */
.col-xs-6 {
  width: 50%;
}

/* line 57, ../sass/layout/_grid.scss */
.col-xs-5 {
  width: 41.66666667%;
}

/* line 60, ../sass/layout/_grid.scss */
.col-xs-4 {
  width: 33.33333333%;
}

/* line 63, ../sass/layout/_grid.scss */
.col-xs-3 {
  width: 25%;
}

/* line 66, ../sass/layout/_grid.scss */
.col-xs-2 {
  width: 16.66666667%;
}

/* line 69, ../sass/layout/_grid.scss */
.col-xs-1 {
  width: 8.33333333%;
}

/* line 72, ../sass/layout/_grid.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 75, ../sass/layout/_grid.scss */
.col-xs-pull-11 {
  right: 91.66666667%;
}

/* line 78, ../sass/layout/_grid.scss */
.col-xs-pull-10 {
  right: 83.33333333%;
}

/* line 81, ../sass/layout/_grid.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 84, ../sass/layout/_grid.scss */
.col-xs-pull-8 {
  right: 66.66666667%;
}

/* line 87, ../sass/layout/_grid.scss */
.col-xs-pull-7 {
  right: 58.33333333%;
}

/* line 90, ../sass/layout/_grid.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 93, ../sass/layout/_grid.scss */
.col-xs-pull-5 {
  right: 41.66666667%;
}

/* line 96, ../sass/layout/_grid.scss */
.col-xs-pull-4 {
  right: 33.33333333%;
}

/* line 99, ../sass/layout/_grid.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 102, ../sass/layout/_grid.scss */
.col-xs-pull-2 {
  right: 16.66666667%;
}

/* line 105, ../sass/layout/_grid.scss */
.col-xs-pull-1 {
  right: 8.33333333%;
}

/* line 108, ../sass/layout/_grid.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 111, ../sass/layout/_grid.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 114, ../sass/layout/_grid.scss */
.col-xs-push-11 {
  left: 91.66666667%;
}

/* line 117, ../sass/layout/_grid.scss */
.col-xs-push-10 {
  left: 83.33333333%;
}

/* line 120, ../sass/layout/_grid.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 123, ../sass/layout/_grid.scss */
.col-xs-push-8 {
  left: 66.66666667%;
}

/* line 126, ../sass/layout/_grid.scss */
.col-xs-push-7 {
  left: 58.33333333%;
}

/* line 129, ../sass/layout/_grid.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 132, ../sass/layout/_grid.scss */
.col-xs-push-5 {
  left: 41.66666667%;
}

/* line 135, ../sass/layout/_grid.scss */
.col-xs-push-4 {
  left: 33.33333333%;
}

/* line 138, ../sass/layout/_grid.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 141, ../sass/layout/_grid.scss */
.col-xs-push-2 {
  left: 16.66666667%;
}

/* line 144, ../sass/layout/_grid.scss */
.col-xs-push-1 {
  left: 8.33333333%;
}

/* line 147, ../sass/layout/_grid.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 150, ../sass/layout/_grid.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

/* line 153, ../sass/layout/_grid.scss */
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

/* line 156, ../sass/layout/_grid.scss */
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

/* line 159, ../sass/layout/_grid.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 162, ../sass/layout/_grid.scss */
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

/* line 165, ../sass/layout/_grid.scss */
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

/* line 168, ../sass/layout/_grid.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 171, ../sass/layout/_grid.scss */
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

/* line 174, ../sass/layout/_grid.scss */
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

/* line 177, ../sass/layout/_grid.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 180, ../sass/layout/_grid.scss */
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

/* line 183, ../sass/layout/_grid.scss */
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

/* line 186, ../sass/layout/_grid.scss */
.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  /* line 190, ../sass/layout/_grid.scss */
  .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 193, ../sass/layout/_grid.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 196, ../sass/layout/_grid.scss */
  .col-sm-11 {
    width: 91.66666667%;
  }

  /* line 199, ../sass/layout/_grid.scss */
  .col-sm-10 {
    width: 83.33333333%;
  }

  /* line 202, ../sass/layout/_grid.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 205, ../sass/layout/_grid.scss */
  .col-sm-8 {
    width: 66.66666667%;
  }

  /* line 208, ../sass/layout/_grid.scss */
  .col-sm-7 {
    width: 58.33333333%;
  }

  /* line 211, ../sass/layout/_grid.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 214, ../sass/layout/_grid.scss */
  .col-sm-5 {
    width: 41.66666667%;
  }

  /* line 217, ../sass/layout/_grid.scss */
  .col-sm-4 {
    width: 33.33333333%;
  }

  /* line 220, ../sass/layout/_grid.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 223, ../sass/layout/_grid.scss */
  .col-sm-2 {
    width: 16.66666667%;
  }

  /* line 226, ../sass/layout/_grid.scss */
  .col-sm-1 {
    width: 8.33333333%;
  }

  /* line 229, ../sass/layout/_grid.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 232, ../sass/layout/_grid.scss */
  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  /* line 235, ../sass/layout/_grid.scss */
  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  /* line 238, ../sass/layout/_grid.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 241, ../sass/layout/_grid.scss */
  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  /* line 244, ../sass/layout/_grid.scss */
  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  /* line 247, ../sass/layout/_grid.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 250, ../sass/layout/_grid.scss */
  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  /* line 253, ../sass/layout/_grid.scss */
  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  /* line 256, ../sass/layout/_grid.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 259, ../sass/layout/_grid.scss */
  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  /* line 262, ../sass/layout/_grid.scss */
  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  /* line 265, ../sass/layout/_grid.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 268, ../sass/layout/_grid.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 271, ../sass/layout/_grid.scss */
  .col-sm-push-11 {
    left: 91.66666667%;
  }

  /* line 274, ../sass/layout/_grid.scss */
  .col-sm-push-10 {
    left: 83.33333333%;
  }

  /* line 277, ../sass/layout/_grid.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 280, ../sass/layout/_grid.scss */
  .col-sm-push-8 {
    left: 66.66666667%;
  }

  /* line 283, ../sass/layout/_grid.scss */
  .col-sm-push-7 {
    left: 58.33333333%;
  }

  /* line 286, ../sass/layout/_grid.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 289, ../sass/layout/_grid.scss */
  .col-sm-push-5 {
    left: 41.66666667%;
  }

  /* line 292, ../sass/layout/_grid.scss */
  .col-sm-push-4 {
    left: 33.33333333%;
  }

  /* line 295, ../sass/layout/_grid.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 298, ../sass/layout/_grid.scss */
  .col-sm-push-2 {
    left: 16.66666667%;
  }

  /* line 301, ../sass/layout/_grid.scss */
  .col-sm-push-1 {
    left: 8.33333333%;
  }

  /* line 304, ../sass/layout/_grid.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 307, ../sass/layout/_grid.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }

  /* line 310, ../sass/layout/_grid.scss */
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 313, ../sass/layout/_grid.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 316, ../sass/layout/_grid.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 319, ../sass/layout/_grid.scss */
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 322, ../sass/layout/_grid.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 325, ../sass/layout/_grid.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 328, ../sass/layout/_grid.scss */
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 331, ../sass/layout/_grid.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 334, ../sass/layout/_grid.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 337, ../sass/layout/_grid.scss */
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 340, ../sass/layout/_grid.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 343, ../sass/layout/_grid.scss */
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  /* line 348, ../sass/layout/_grid.scss */
  .col, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 351, ../sass/layout/_grid.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 354, ../sass/layout/_grid.scss */
  .col-md-11 {
    width: 91.66666667%;
  }

  /* line 357, ../sass/layout/_grid.scss */
  .col-md-10 {
    width: 83.33333333%;
  }

  /* line 360, ../sass/layout/_grid.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 363, ../sass/layout/_grid.scss */
  .col-md-8 {
    width: 66.66666667%;
  }

  /* line 366, ../sass/layout/_grid.scss */
  .col-md-7 {
    width: 58.33333333%;
  }

  /* line 369, ../sass/layout/_grid.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 372, ../sass/layout/_grid.scss */
  .col-md-5 {
    width: 41.66666667%;
  }

  /* line 375, ../sass/layout/_grid.scss */
  .col-md-4 {
    width: 33.33333333%;
  }

  /* line 378, ../sass/layout/_grid.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 381, ../sass/layout/_grid.scss */
  .col-md-2 {
    width: 16.66666667%;
  }

  /* line 384, ../sass/layout/_grid.scss */
  .col-md-1 {
    width: 8.33333333%;
  }

  /* line 387, ../sass/layout/_grid.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 390, ../sass/layout/_grid.scss */
  .col-md-pull-11 {
    right: 91.66666667%;
  }

  /* line 393, ../sass/layout/_grid.scss */
  .col-md-pull-10 {
    right: 83.33333333%;
  }

  /* line 396, ../sass/layout/_grid.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 399, ../sass/layout/_grid.scss */
  .col-md-pull-8 {
    right: 66.66666667%;
  }

  /* line 402, ../sass/layout/_grid.scss */
  .col-md-pull-7 {
    right: 58.33333333%;
  }

  /* line 405, ../sass/layout/_grid.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 408, ../sass/layout/_grid.scss */
  .col-md-pull-5 {
    right: 41.66666667%;
  }

  /* line 411, ../sass/layout/_grid.scss */
  .col-md-pull-4 {
    right: 33.33333333%;
  }

  /* line 414, ../sass/layout/_grid.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 417, ../sass/layout/_grid.scss */
  .col-md-pull-2 {
    right: 16.66666667%;
  }

  /* line 420, ../sass/layout/_grid.scss */
  .col-md-pull-1 {
    right: 8.33333333%;
  }

  /* line 423, ../sass/layout/_grid.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 426, ../sass/layout/_grid.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 429, ../sass/layout/_grid.scss */
  .col-md-push-11 {
    left: 91.66666667%;
  }

  /* line 432, ../sass/layout/_grid.scss */
  .col-md-push-10 {
    left: 83.33333333%;
  }

  /* line 435, ../sass/layout/_grid.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 438, ../sass/layout/_grid.scss */
  .col-md-push-8 {
    left: 66.66666667%;
  }

  /* line 441, ../sass/layout/_grid.scss */
  .col-md-push-7 {
    left: 58.33333333%;
  }

  /* line 444, ../sass/layout/_grid.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 447, ../sass/layout/_grid.scss */
  .col-md-push-5 {
    left: 41.66666667%;
  }

  /* line 450, ../sass/layout/_grid.scss */
  .col-md-push-4 {
    left: 33.33333333%;
  }

  /* line 453, ../sass/layout/_grid.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 456, ../sass/layout/_grid.scss */
  .col-md-push-2 {
    left: 16.66666667%;
  }

  /* line 459, ../sass/layout/_grid.scss */
  .col-md-push-1 {
    left: 8.33333333%;
  }

  /* line 462, ../sass/layout/_grid.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 465, ../sass/layout/_grid.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }

  /* line 468, ../sass/layout/_grid.scss */
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 471, ../sass/layout/_grid.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 474, ../sass/layout/_grid.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 477, ../sass/layout/_grid.scss */
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 480, ../sass/layout/_grid.scss */
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 483, ../sass/layout/_grid.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 486, ../sass/layout/_grid.scss */
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 489, ../sass/layout/_grid.scss */
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 492, ../sass/layout/_grid.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 495, ../sass/layout/_grid.scss */
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 498, ../sass/layout/_grid.scss */
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 501, ../sass/layout/_grid.scss */
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  /* line 506, ../sass/layout/_grid.scss */
  .col, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 509, ../sass/layout/_grid.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 512, ../sass/layout/_grid.scss */
  .col-lg-11 {
    width: 91.66666667%;
  }

  /* line 515, ../sass/layout/_grid.scss */
  .col-lg-10 {
    width: 83.33333333%;
  }

  /* line 518, ../sass/layout/_grid.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 521, ../sass/layout/_grid.scss */
  .col-lg-8 {
    width: 66.66666667%;
  }

  /* line 524, ../sass/layout/_grid.scss */
  .col-lg-7 {
    width: 58.33333333%;
  }

  /* line 527, ../sass/layout/_grid.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 530, ../sass/layout/_grid.scss */
  .col-lg-5 {
    width: 41.66666667%;
  }

  /* line 533, ../sass/layout/_grid.scss */
  .col-lg-4 {
    width: 33.33333333%;
  }

  /* line 536, ../sass/layout/_grid.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 539, ../sass/layout/_grid.scss */
  .col-lg-2 {
    width: 16.66666667%;
  }

  /* line 542, ../sass/layout/_grid.scss */
  .col-lg-1 {
    width: 8.33333333%;
  }

  /* line 545, ../sass/layout/_grid.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 548, ../sass/layout/_grid.scss */
  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  /* line 551, ../sass/layout/_grid.scss */
  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  /* line 554, ../sass/layout/_grid.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 557, ../sass/layout/_grid.scss */
  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  /* line 560, ../sass/layout/_grid.scss */
  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  /* line 563, ../sass/layout/_grid.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 566, ../sass/layout/_grid.scss */
  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  /* line 569, ../sass/layout/_grid.scss */
  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  /* line 572, ../sass/layout/_grid.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 575, ../sass/layout/_grid.scss */
  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  /* line 578, ../sass/layout/_grid.scss */
  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  /* line 581, ../sass/layout/_grid.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 584, ../sass/layout/_grid.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 587, ../sass/layout/_grid.scss */
  .col-lg-push-11 {
    left: 91.66666667%;
  }

  /* line 590, ../sass/layout/_grid.scss */
  .col-lg-push-10 {
    left: 83.33333333%;
  }

  /* line 593, ../sass/layout/_grid.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 596, ../sass/layout/_grid.scss */
  .col-lg-push-8 {
    left: 66.66666667%;
  }

  /* line 599, ../sass/layout/_grid.scss */
  .col-lg-push-7 {
    left: 58.33333333%;
  }

  /* line 602, ../sass/layout/_grid.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 605, ../sass/layout/_grid.scss */
  .col-lg-push-5 {
    left: 41.66666667%;
  }

  /* line 608, ../sass/layout/_grid.scss */
  .col-lg-push-4 {
    left: 33.33333333%;
  }

  /* line 611, ../sass/layout/_grid.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 614, ../sass/layout/_grid.scss */
  .col-lg-push-2 {
    left: 16.66666667%;
  }

  /* line 617, ../sass/layout/_grid.scss */
  .col-lg-push-1 {
    left: 8.33333333%;
  }

  /* line 620, ../sass/layout/_grid.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 623, ../sass/layout/_grid.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }

  /* line 626, ../sass/layout/_grid.scss */
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 629, ../sass/layout/_grid.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 632, ../sass/layout/_grid.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 635, ../sass/layout/_grid.scss */
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 638, ../sass/layout/_grid.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 641, ../sass/layout/_grid.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 644, ../sass/layout/_grid.scss */
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 647, ../sass/layout/_grid.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 650, ../sass/layout/_grid.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 653, ../sass/layout/_grid.scss */
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 656, ../sass/layout/_grid.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 659, ../sass/layout/_grid.scss */
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
/* line 663, ../sass/layout/_grid.scss */
.clearfix,
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

/* line 675, ../sass/layout/_grid.scss */
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

/* line 681, ../sass/layout/_grid.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 686, ../sass/layout/_grid.scss */
.pull-right {
  float: right !important;
}

/* line 689, ../sass/layout/_grid.scss */
.pull-left {
  float: left !important;
}

/* line 692, ../sass/layout/_grid.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/layout/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 22, ../sass/layout/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/layout/_base.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/layout/_base.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/layout/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/layout/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/layout/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 76, ../sass/layout/_base.scss */
html {
  font-size: 16px;
}

/* line 79, ../sass/layout/_base.scss */
html, body {
  font-family: "LeagueGothicRegular", sans-serif;
  overflow-x: hidden;
  position: relative;
}

/* line 85, ../sass/layout/_base.scss */
.container [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

/* line 1, ../sass/layout/_header.scss */
header {
  background: url("../images/bg.png") no-repeat;
  min-height: 850px;
  background-position: center;
  background-size: cover;
}
/* line 7, ../sass/layout/_header.scss */
header .logo {
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  margin-top: 65px;
  margin-bottom: 160px;
}
/* line 15, ../sass/layout/_header.scss */
header .logo span {
  color: #533a5e;
  text-shadow: none;
}
/* line 21, ../sass/layout/_header.scss */
header .main_menu {
  margin-top: 70px;
  margin-bottom: 80px;
  float: right;
  font-size: 0;
}
/* line 27, ../sass/layout/_header.scss */
header .main_menu li {
  display: inline-block;
  margin-left: 15px;
}
/* line 31, ../sass/layout/_header.scss */
header .main_menu li a {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 10px;
  color: #fff;
  font-size: 1.5rem;
  border-bottom: 2px solid transparent;
}
/* line 40, ../sass/layout/_header.scss */
header .main_menu li a:hover {
  border-bottom: 2px solid #edbfff;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

/* line 1, ../sass/layout/_slider.scss */
.slider {
  position: relative;
}
/* line 4, ../sass/layout/_slider.scss */
.slider .header_text {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  padding-top: 95px;
  padding-bottom: 65px;
}
/* line 9, ../sass/layout/_slider.scss */
.slider .header_text h1 {
  color: #fff;
  font-size: 3.75rem;
  line-height: 36px;
  padding-bottom: 12px;
  text-transform: capitalize;
}
/* line 16, ../sass/layout/_slider.scss */
.slider .header_text h2 {
  color: #eebfff;
  font-size: 2rem;
  padding-bottom: 15px;
  text-transform: uppercase;
}
/* line 22, ../sass/layout/_slider.scss */
.slider .header_text h3 {
  color: #fff;
  font-size: 1.125rem;
  font-family: "OpenSansLight", sans-serif;
  font-weight: 300;
  max-width: 520px;
  line-height: 24px;
}
/* line 34, ../sass/layout/_slider.scss */
.slider .iphone {
  padding-left: 70px;
  margin-top: -25px;
}
/* line 37, ../sass/layout/_slider.scss */
.slider .iphone img {
  max-width: 82%;
}

/* line 1, ../sass/layout/_about.scss */
.about {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDI0MDAgMzQyIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImhhdDAiIGdyYWRpZW50VW5pdHM9Im9iamVjdEJvdW5kaW5nQm94IiB4MT0iNTAlIiB5MT0iMTAwJSIgeDI9IjUwJSIgeTI9Ii0xLjQyMTA4NTQ3MTUyMDJlLTE0JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzMTI1MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NDUwODMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjI0MDAiIGhlaWdodD0iMzQyIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
  background-image: -moz-linear-gradient(bottom, #312539 0%, #745083 100%);
  background-image: -o-linear-gradient(bottom, #312539 0%, #745083 100%);
  background-image: -webkit-linear-gradient(bottom, #312539 0%, #745083 100%);
  background-image: linear-gradient(bottom, #312539 0%, #745083 100%);
  color: #fff;
  text-shadow: 0px 1px 0px #0f1518;
  padding: 70px 0;
  min-height: 340px;
  position: relative;
}
/* line 13, ../sass/layout/_about.scss */
.about .our_company1, .about .our_company2, .about .our_company3 {
  max-width: 280px;
  padding-left: 57px;
  position: relative;
  padding-right: 40px;
}
/* line 19, ../sass/layout/_about.scss */
.about .our_company1 h1, .about .our_company2 h1, .about .our_company3 h1 {
  font-size: 1.875rem;
  text-transform: uppercase;
  padding-bottom: 10px;
}
/* line 24, ../sass/layout/_about.scss */
.about .our_company1 p, .about .our_company2 p, .about .our_company3 p {
  font-size: 1rem;
  font-family: "OpenSansLight", sans-serif;
  line-height: 24px;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  max-height: 122px;
  overflow: hidden;
}
/* line 36, ../sass/layout/_about.scss */
.about .our_company1 a, .about .our_company2 a, .about .our_company3 a {
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 1.125rem;
  text-transform: uppercase;
  padding-top: 25px;
  text-align: right;
}
/* line 45, ../sass/layout/_about.scss */
.about .our_company1 a:hover, .about .our_company2 a:hover, .about .our_company3 a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
/* line 32, ../sass/mixins/_pseudo-block.scss */
.about .our_company1:before {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 31px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 0;
  background-image: url('/images/icons-sdb454c939e.png');
  left: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 32, ../sass/mixins/_pseudo-block.scss */
  .about .our_company1:before {
    background-size: 600px auto;
    background-image: url('/images/icons-2x-sf15fb361d0.png');
  }
}
/* line 32, ../sass/mixins/_pseudo-block.scss */
.about .our_company2:before {
  content: '';
  display: block;
  position: absolute;
  width: 33px;
  height: 29px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 -36px;
  background-image: url('/images/icons-sdb454c939e.png');
  left: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 32, ../sass/mixins/_pseudo-block.scss */
  .about .our_company2:before {
    background-size: 600px auto;
    background-image: url('/images/icons-2x-sf15fb361d0.png');
  }
}
/* line 32, ../sass/mixins/_pseudo-block.scss */
.about .our_company3:before {
  content: '';
  display: block;
  position: absolute;
  width: 29px;
  height: 31px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 -70px;
  background-image: url('/images/icons-sdb454c939e.png');
  left: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 32, ../sass/mixins/_pseudo-block.scss */
  .about .our_company3:before {
    background-size: 600px auto;
    background-image: url('/images/icons-2x-sf15fb361d0.png');
  }
}

/* line 1, ../sass/layout/_news.scss */
.news {
  background: #dfdfdf;
  padding-top: 80px;
}
/* line 5, ../sass/layout/_news.scss */
.news .reviews {
  position: relative;
  background-color: #fff;
  padding: 30px 40px 40px 40px;
  margin: 0 75px 90px 23px;
  line-height: 24px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 16, ../sass/layout/_news.scss */
.news .reviews::after {
  content: '';
  position: absolute;
  background: url("../images/angel.png") no-repeat;
  width: 21px;
  height: 22px;
  bottom: -7%;
  right: 10%;
}
/* line 25, ../sass/layout/_news.scss */
.news .reviews::before {
  content: '';
  position: absolute;
  background: url("../images/news1.png") no-repeat;
  left: -6%;
  top: 6%;
  width: 56px;
  height: 55px;
}
/* line 34, ../sass/layout/_news.scss */
.news .reviews h1 {
  color: #454545;
  font-size: 1.875rem;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #fff;
  padding-bottom: 15px;
}
/* line 41, ../sass/layout/_news.scss */
.news .reviews h1 span {
  color: #edbfff;
  text-shadow: 0px 1px 0px #ffffff;
}
/* line 46, ../sass/layout/_news.scss */
.news .reviews p {
  font: 1rem "OpenSansLight", sans-serif;
  color: #454545;
  max-height: 165px;
  overflow: hidden;
  text-shadow: 0px 1px 0px #ffffff;
  line-height: 24px;
}
/* line 55, ../sass/layout/_news.scss */
.news .updates {
  padding-top: 30px;
  margin-bottom: 100px;
}
/* line 58, ../sass/layout/_news.scss */
.news .updates h1 {
  color: #454545;
  font-size: 1.875rem;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #fff;
  padding-bottom: 15px;
}
/* line 65, ../sass/layout/_news.scss */
.news .updates ul {
  font-size: 0;
  text-shadow: 0px 1px 0px #fff;
}
/* line 69, ../sass/layout/_news.scss */
.news .updates ul li {
  font-size: 1rem;
  font-family: "OpenSansLight", sans-serif;
  position: relative;
  padding: 0 0 21px 68px;
}
/* line 77, ../sass/layout/_news.scss */
.news .updates ul li::before {
  content: '';
  position: absolute;
  background: url("../images/news2.jpg") no-repeat;
  width: 49px;
  height: 49px;
  border: 1px solid transparent;
  border-radius: 55px;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  left: 0;
  background-position: -31px -65px;
}
/* line 90, ../sass/layout/_news.scss */
.news .updates ul li a {
  text-decoration: none;
  color: #454545;
  font-weight: 700;
  display: inline-block;
  line-height: 24px;
}
/* line 97, ../sass/layout/_news.scss */
.news .updates ul li a:hover {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
/* line 101, ../sass/layout/_news.scss */
.news .updates ul li p {
  font-family: "OpenSansLight", sans-serif;
}
/* line 105, ../sass/layout/_news.scss */
.news .updates ul .category::before {
  background-position: -31px -105px;
}
/* line 108, ../sass/layout/_news.scss */
.news .updates ul .blog::before {
  background-position: -31px -15px;
}
/* line 112, ../sass/layout/_news.scss */
.news .updates .read {
  font-size: 1.125rem;
  text-shadow: 0px 1px 0px #fff;
  text-transform: uppercase;
  text-decoration: none;
  color: #454545;
  text-align: right;
  display: block;
}
/* line 121, ../sass/layout/_news.scss */
.news .updates .read:hover {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
/* line 126, ../sass/layout/_news.scss */
.news .partners {
  border-top: 1px solid #e6e6e6;
  margin: 0 -100%;
  padding: 0 100%;
}
/* line 131, ../sass/layout/_news.scss */
.news .partners ul {
  text-align: center;
  padding-top: 27px;
  padding-bottom: 31px;
}
/* line 136, ../sass/layout/_news.scss */
.news .partners ul li {
  background: url("../images/partners_sprite.png") no-repeat;
  display: inline-block;
  margin-right: 65px;
}
/* line 141, ../sass/layout/_news.scss */
.news .partners ul li:last-child {
  margin-right: 0;
}
/* line 145, ../sass/layout/_news.scss */
.news .partners ul .q {
  width: 69px;
  height: 65px;
  background-position: -5px -5px;
}
/* line 150, ../sass/layout/_news.scss */
.news .partners ul .w {
  width: 73px;
  height: 65px;
  background-position: -5px -80px;
}
/* line 155, ../sass/layout/_news.scss */
.news .partners ul .e {
  width: 65px;
  height: 65px;
  background-position: -5px -155px;
}
/* line 160, ../sass/layout/_news.scss */
.news .partners ul .r {
  width: 69px;
  height: 65px;
  background-position: -5px -230px;
}
/* line 165, ../sass/layout/_news.scss */
.news .partners ul .t {
  width: 103px;
  height: 65px;
  background-position: -5px -305px;
}
/* line 170, ../sass/layout/_news.scss */
.news .partners ul .y {
  width: 70px;
  height: 69px;
  background-position: -5px -380px;
}

/* line 1, ../sass/layout/_last_articles.scss */
.last_articles .first, .last_articles .second, .last_articles .third {
  max-height: 225px;
  overflow: hidden;
  padding-right: 75px;
}

/* line 6, ../sass/layout/_last_articles.scss */
.last_articles .first p, .last_articles .second p, .last_articles .third p {
  color: #787878;
  line-height: 24px;
  font-size: 1rem;
  font-family: "OpenSansLight", sans-serif;
}

/* line 14, ../sass/layout/_last_articles.scss */
.last_articles {
  background-color: #ececec;
  padding: 98px 0 100px 0;
}
/* line 19, ../sass/layout/_last_articles.scss */
.last_articles .first h3 {
  color: #454545;
  font-size: 3rem;
  text-shadow: 0px 1px 0px #ffffff;
  text-transform: uppercase;
  padding-bottom: 21px;
}
/* line 25, ../sass/layout/_last_articles.scss */
.last_articles .first h3 span {
  color: #b9b9b9;
}
/* line 30, ../sass/layout/_last_articles.scss */
.last_articles .first h1 a {
  text-decoration: none;
  text-transform: uppercase;
  color: #454444;
  font-size: 1.875rem;
  padding-bottom: 20px;
  text-shadow: 0 1px 0 #fff;
}
/* line 37, ../sass/layout/_last_articles.scss */
.last_articles .first h1 a:hover {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
/* line 42, ../sass/layout/_last_articles.scss */
.last_articles .first h2 {
  color: #c5c5c5;
  font-style: italic;
  font-size: 1rem;
  font-family: "Georgia", sans-serif;
  text-shadow: 0px 1px 0px #ffffff;
  padding-bottom: 17px;
}
/* line 60, ../sass/layout/_last_articles.scss */
.last_articles .second h1 a, .last_articles .third h1 a {
  text-decoration: none;
  text-transform: uppercase;
  color: #454444;
  font-size: 1.875rem;
  padding-bottom: 20px;
  text-shadow: 0 1px 0 #fff;
}
/* line 67, ../sass/layout/_last_articles.scss */
.last_articles .second h1 a:hover, .last_articles .third h1 a:hover {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

/* line 1, ../sass/layout/_footer.scss */
footer {
  background-image: url("../images/bg-copy.png");
  background-repeat: no-repeat;
  background-size: center;
}
/* line 6, ../sass/layout/_footer.scss */
footer .footer_menu {
  padding-top: 48px;
  padding-bottom: 40px;
}
/* line 9, ../sass/layout/_footer.scss */
footer .footer_menu li {
  display: inline-block;
}
/* line 11, ../sass/layout/_footer.scss */
footer .footer_menu li a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
  margin: 0 10px;
  color: #fff;
  font-size: 1.5rem;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}
/* line 20, ../sass/layout/_footer.scss */
footer .footer_menu li a:hover {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
/* line 23, ../sass/layout/_footer.scss */
footer .footer_menu li a:first-child {
  padding-left: 0;
  margin-left: 0;
}
/* line 30, ../sass/layout/_footer.scss */
footer .designed {
  padding-top: 50px;
  text-align: right;
}
/* line 33, ../sass/layout/_footer.scss */
footer .designed p {
  color: #fff;
  font: 0.75rem "OpenSansLight", sans-serif;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}
/* line 38, ../sass/layout/_footer.scss */
footer .designed p span {
  font-weight: 700;
}

/* line 3, ../sass/layout/partials/_owl_carousel.scss */
.slider .owl-carousel .owl-stage-outer {
  overflow: visible;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 7, ../sass/layout/partials/_owl_carousel.scss */
.slider .owl-carousel .owl-nav {
  display: none;
}
/* line 10, ../sass/layout/partials/_owl_carousel.scss */
.slider .owl-carousel .owl-dots {
  text-align: center;
  padding: 90px 0 50px;
}
/* line 13, ../sass/layout/partials/_owl_carousel.scss */
.slider .owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}
/* line 16, ../sass/layout/partials/_owl_carousel.scss */
.slider .owl-carousel .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 5px 7px;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* line 32, ../sass/layout/partials/_owl_carousel.scss */
.slider .owl-carousel .owl-dots .owl-dot.active span, .slider .owl-carousel .owl-dots .owl-dot:hover span {
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  background-image: -moz-linear-gradient(bottom, #d4d4d4 0%, #fff 100%);
  background-image: -o-linear-gradient(bottom, #d4d4d4 0%, #fff 100%);
  background-image: -webkit-linear-gradient(bottom, #d4d4d4 0%, #fff 100%);
  background-image: linear-gradient(bottom, #d4d4d4 0%, #fff 100%);
}

/* line 2, ../sass/layout/partials/_menu_xs.scss */
.nav {
  position: relative;
  margin: 20px 0;
}

/* line 7, ../sass/layout/partials/_menu_xs.scss */
.nav li {
  margin: 0 5px 10px 0;
  display: inline-block;
}

/* line 11, ../sass/layout/partials/_menu_xs.scss */
.nav a {
  padding: 7px 12px;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  line-height: 100%;
  border-bottom: 2px solid transparent;
}

/* line 20, ../sass/layout/partials/_menu_xs.scss */
.nav a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid #edbff2;
  background-color: rgba(53, 39, 61, 0.9);
}

/* ╤Ж╨╡╨╜╤В╤А╨░╨╗╤М╨╜╤Л╨╣ nav */
/* line 27, ../sass/layout/partials/_menu_xs.scss */
.nav ul {
  text-align: center;
}

/* line 1, ../sass/media/_media_hidden.scss */
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

/* line 7, ../sass/media/_media_hidden.scss */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  /* line 22, ../sass/media/_media_hidden.scss */
  .visible-xs {
    display: block !important;
  }

  /* line 25, ../sass/media/_media_hidden.scss */
  table.visible-xs {
    display: table !important;
  }

  /* line 28, ../sass/media/_media_hidden.scss */
  tr.visible-xs {
    display: table-row !important;
  }

  /* line 31, ../sass/media/_media_hidden.scss */
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  /* line 37, ../sass/media/_media_hidden.scss */
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  /* line 42, ../sass/media/_media_hidden.scss */
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  /* line 47, ../sass/media/_media_hidden.scss */
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 52, ../sass/media/_media_hidden.scss */
  .visible-sm {
    display: block !important;
  }

  /* line 55, ../sass/media/_media_hidden.scss */
  table.visible-sm {
    display: table !important;
  }

  /* line 58, ../sass/media/_media_hidden.scss */
  tr.visible-sm {
    display: table-row !important;
  }

  /* line 61, ../sass/media/_media_hidden.scss */
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 67, ../sass/media/_media_hidden.scss */
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 72, ../sass/media/_media_hidden.scss */
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 77, ../sass/media/_media_hidden.scss */
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 82, ../sass/media/_media_hidden.scss */
  .visible-md {
    display: block !important;
  }

  /* line 85, ../sass/media/_media_hidden.scss */
  table.visible-md {
    display: table !important;
  }

  /* line 88, ../sass/media/_media_hidden.scss */
  tr.visible-md {
    display: table-row !important;
  }

  /* line 91, ../sass/media/_media_hidden.scss */
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 97, ../sass/media/_media_hidden.scss */
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 102, ../sass/media/_media_hidden.scss */
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 107, ../sass/media/_media_hidden.scss */
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  /* line 112, ../sass/media/_media_hidden.scss */
  .visible-lg {
    display: block !important;
  }

  /* line 115, ../sass/media/_media_hidden.scss */
  table.visible-lg {
    display: table !important;
  }

  /* line 118, ../sass/media/_media_hidden.scss */
  tr.visible-lg {
    display: table-row !important;
  }

  /* line 121, ../sass/media/_media_hidden.scss */
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  /* line 127, ../sass/media/_media_hidden.scss */
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  /* line 132, ../sass/media/_media_hidden.scss */
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  /* line 137, ../sass/media/_media_hidden.scss */
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  /* line 142, ../sass/media/_media_hidden.scss */
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 147, ../sass/media/_media_hidden.scss */
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 152, ../sass/media/_media_hidden.scss */
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  /* line 157, ../sass/media/_media_hidden.scss */
  .hidden-lg {
    display: none !important;
  }
}
@media (max-width: 991px) {
  /* line 3, ../sass/media/_media_768.scss */
  .container [class*="col-"] {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 8, ../sass/media/_media_768.scss */
  header {
    min-height: 800px;
  }
  /* line 11, ../sass/media/_media_768.scss */
  header .logo {
    margin-bottom: 0;
  }
  /* line 14, ../sass/media/_media_768.scss */
  header .main_menu {
    float: left;
    margin-top: 40px;
  }
  /* line 18, ../sass/media/_media_768.scss */
  header .main_menu li:first-child {
    margin-left: 0;
  }
  /* line 21, ../sass/media/_media_768.scss */
  header .main_menu .home {
    padding-left: 0;
  }

  /* line 28, ../sass/media/_media_768.scss */
  .slider .header_text h1 {
    font-size: 3rem;
  }
  /* line 31, ../sass/media/_media_768.scss */
  .slider .header_text h2 {
    font-size: 1.5rem;
  }
  /* line 34, ../sass/media/_media_768.scss */
  .slider .header_text h3 {
    max-height: 100px;
    overflow: hidden;
    font-size: 1rem;
    line-height: 24px;
  }
  /* line 41, ../sass/media/_media_768.scss */
  .slider .iphone {
    padding-left: 40px;
    margin-bottom: -20px;
  }
  /* line 44, ../sass/media/_media_768.scss */
  .slider .iphone img {
    max-width: 93%;
  }

  /* line 50, ../sass/media/_media_768.scss */
  .about [class*="our_company"] {
    max-width: 220px;
    padding-right: 0;
  }
  /* line 53, ../sass/media/_media_768.scss */
  .about [class*="our_company"] h1 {
    font-size: 1.5rem;
  }
  /* line 56, ../sass/media/_media_768.scss */
  .about [class*="our_company"] p {
    max-height: 140px;
  }

  /* line 62, ../sass/media/_media_768.scss */
  .news .reviews {
    padding: 30px 25px 45px 40px;
    margin: 0 0 90px;
  }
  /* line 65, ../sass/media/_media_768.scss */
  .news .reviews::after {
    display: none;
  }
  /* line 68, ../sass/media/_media_768.scss */
  .news .reviews h1 {
    font-size: 1.5rem;
  }
  /* line 70, ../sass/media/_media_768.scss */
  .news .reviews h1 span {
    display: block;
  }
  /* line 74, ../sass/media/_media_768.scss */
  .news .reviews p {
    min-height: 147px;
  }
  /* line 79, ../sass/media/_media_768.scss */
  .news .updates li {
    padding-bottom: 20px;
  }
  /* line 81, ../sass/media/_media_768.scss */
  .news .updates li a {
    max-height: 25px;
  }
  /* line 84, ../sass/media/_media_768.scss */
  .news .updates li p {
    max-height: 17px;
    overflow: hidden;
  }
  /* line 93, ../sass/media/_media_768.scss */
  .news .partners ul li {
    margin-right: 50px;
  }

  /* line 100, ../sass/media/_media_768.scss */
  .last_articles .first, .last_articles .second, .last_articles .third, .last_articles .third {
    max-height: 210px;
    padding-right: 0;
  }
  /* line 103, ../sass/media/_media_768.scss */
  .last_articles .first h1, .last_articles .second h1, .last_articles .third h1, .last_articles .third h1 {
    color: #454444;
    font-size: 1.5rem;
    padding-bottom: 15px;
  }

  /* line 110, ../sass/media/_media_768.scss */
  footer {
    background: url("../images/bg-footer768.png") no-repeat;
    background-position: 0 100%;
  }
  /* line 113, ../sass/media/_media_768.scss */
  footer .footer_menu {
    font-size: 1.25rem;
  }
  /* line 116, ../sass/media/_media_768.scss */
  footer .designed {
    padding-top: 100px;
    padding-bottom: 85px;
    font-size: 0.75rem;
  }
}
@media (max-width: 496px) {
  /* line 4, ../sass/media/_media_496.scss */
  footer .footer_menu li {
    display: block;
    margin-bottom: 5px;
  }
  /* line 7, ../sass/media/_media_496.scss */
  footer .footer_menu li a {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 767px) {
  /* line 3, ../sass/media/_media_480.scss */
  header {
    min-height: 547px;
  }
  /* line 5, ../sass/media/_media_480.scss */
  header .logo {
    text-align: center;
  }
  /* line 8, ../sass/media/_media_480.scss */
  header .nav {
    position: relative;
    min-height: 40px;
    z-index: 100;
  }
  /* line 13, ../sass/media/_media_480.scss */
  header .nav ul {
    width: 250px;
    position: absolute;
    top: 0;
    border: solid 1px #999;
    background: rgba(53, 39, 61, 0.9);
    border-radius: 5px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    left: 50%;
    margin-left: -124px;
  }
  /* line 23, ../sass/media/_media_480.scss */
  header .nav ul:hover li {
    display: block;
  }
  /* line 27, ../sass/media/_media_480.scss */
  header .nav ul li {
    display: none;
    /* ╤Б╨║╤А╨╛╨╣╤В╨╡ ╨▓╤Б╨╡ ╤Н╨╗╨╡╨╝╨╡╨╜╤В╤Л &lt;li&gt; */
    margin: 0;
  }
  /* line 30, ../sass/media/_media_480.scss */
  header .nav ul li a {
    display: block;
    text-align: center;
  }
  /* line 35, ../sass/media/_media_480.scss */
  header .nav ul .current {
    display: block;
    /* ╨┐╨╛╨║╨░╨╖╤Л╨▓╨░╨╣╤В╨╡ ╤В╨╛╨╗╤М╨║╨╛ ╤В╨╡╨║╤Г╤Й╨╕╨╣ ╤Н╨╗╨╡╨╝╨╡╨╜╤В &lt;li&gt; */
  }
  /* line 37, ../sass/media/_media_480.scss */
  header .nav ul .current a {
    background: none;
  }
  /* line 45, ../sass/media/_media_480.scss */
  header .slider .owl-carousel .owl-dots {
    padding-top: 50px;
  }
  /* line 49, ../sass/media/_media_480.scss */
  header .slider .header_text {
    padding-top: 95px;
    padding-bottom: 95px;
    text-align: center;
  }
  /* line 53, ../sass/media/_media_480.scss */
  header .slider .header_text h1 {
    font-size: 2.25rem;
  }
  /* line 56, ../sass/media/_media_480.scss */
  header .slider .header_text h2 {
    font-size: 1.125rem;
  }
  /* line 60, ../sass/media/_media_480.scss */
  header .slider .arrow, header .slider.light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }

  /* line 67, ../sass/media/_media_480.scss */
  .about .our_company1, .about .our_company2, .about .our_company3 {
    padding-bottom: 30px;
    max-width: 100%;
  }
  /* line 70, ../sass/media/_media_480.scss */
  .about .our_company1 p, .about .our_company2 p, .about .our_company3 p {
    max-height: 75px;
  }
  /* line 74, ../sass/media/_media_480.scss */
  .about .our_company3 {
    padding-bottom: 0;
  }

  /* line 79, ../sass/media/_media_480.scss */
  .news .reviews {
    margin: 0 50px 90px;
  }
  /* line 82, ../sass/media/_media_480.scss */
  .news .updates {
    margin: 0 auto 90px;
    max-width: 300px;
  }
  /* line 86, ../sass/media/_media_480.scss */
  .news .updates li a {
    overflow: hidden;
    max-width: 225px;
  }
  /* line 90, ../sass/media/_media_480.scss */
  .news .updates li p {
    overflow: hidden;
    max-width: 269px;
  }

  /* line 98, ../sass/media/_media_480.scss */
  .last_articles .first, .last_articles .second, .last_articles .third, .last_articles .third {
    width: 100%;
    max-height: 140px;
    margin-bottom: 65px;
    margin-left: 0;
  }

  /* line 106, ../sass/media/_media_480.scss */
  footer .footer_menu {
    text-align: center;
  }
  /* line 109, ../sass/media/_media_480.scss */
  footer .footer_menu li a {
    font-size: 1.25rem;
  }
  /* line 114, ../sass/media/_media_480.scss */
  footer .designed {
    text-align: center;
    padding-top: 0;
  }
}
@media (max-width: 320px) {
  /* line 2, ../sass/media/_media_320.scss */
  .header {
    min-height: 517px;
  }
  /* line 5, ../sass/media/_media_320.scss */
  .header .nav ul {
    background: none;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  /* line 11, ../sass/media/_media_320.scss */
  .header .nav ul:hover {
    border: solid 1px #999;
    background: rgba(53, 39, 61, 0.9);
    border-radius: 5px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  }

  /* line 20, ../sass/media/_media_320.scss */
  .slider {
    background-color: transparent;
  }

  /* line 25, ../sass/media/_media_320.scss */
  .news .reviews {
    margin: 0 0 90px;
  }
  /* line 31, ../sass/media/_media_320.scss */
  .news .updates ul li a {
    max-width: 150px;
  }

  /* line 38, ../sass/media/_media_320.scss */
  .last_articles {
    display: none;
  }

  /* line 42, ../sass/media/_media_320.scss */
  footer .footer_menu {
    display: none;
  }
  /* line 45, ../sass/media/_media_320.scss */
  footer .designed {
    padding-top: 50px;
  }
}
