//font colors
$white: #fff;
$content_text: #4e4e4e;
$content_color_text: #ffa352;
$quote: #9a9a9a;
$list: #a3a3a3;
$footer: #cfcfcf;
$black: #000;
$label: #666;
$span: #b9b9b9;
$tab: #969696;
$form_caption: #ff800c;
//bg colors
$bg_register_form: #ff9f05;
$bg_white: $white;
$bg_radial_gradient: #ffd40d;
$bg_grey_gradient: #e6e6e6;
$bg_grey_gradient2: #f5f9fb;
$bg_orange_gradient: #ff891f;
$bg_orange_gradient2: #ffad02;
$bg_step_gradient: #bdbdbd;
$bg_step_gradient2: #c6c9ca;
$bg_default: #f0f0f0;
$bg_button_start: #93C516;

$border_note: #ffc28c;
$border_button_start: #7ea606;
$border_form: #dcdcdc;
$border_black: #000;
$border_input: rgba(0, 0, 0, .21);
$border_input_valid_no: rgba(209, 0, 0, .49);


$deg: 180deg;
