.slider{
  .owl-carousel{
    .owl-stage-outer{
      overflow: visible;
      background-color: rgba(0, 0, 0, 0.2);
    }
    .owl-nav{
      display: none;
    }
    .owl-dots{
      text-align: center;
      padding: 90px 0 50px;
      .owl-dot{
        display:inline-block;
        zoom:1;
        span{
          width:15px;
          height:15px;
          margin:5px 7px;
          background: rgba( 0, 0, 0, 0.3);
          display:block;
          -webkit-backface-visibility:visible;
          -webkit-transition:opacity 200ms ease;
          -moz-transition:opacity 200ms ease;
          -ms-transition:opacity 200ms ease;
          -o-transition:opacity 200ms ease;
          transition:opacity 200ms ease;
          -webkit-border-radius:30px;
          -moz-border-radius:30px;
          border-radius:30px
        }
        &.active span, &:hover span{
          -moz-box-shadow: 0 0 5px rgba(0,0,0,.8);
          -webkit-box-shadow: 0 0 5px rgba(0,0,0,.8);
          box-shadow: 0 0 5px rgba(0,0,0,.8);
          background-image: -moz-linear-gradient(bottom, #d4d4d4 0%, #fff 100%);
          background-image: -o-linear-gradient(bottom, #d4d4d4 0%, #fff 100%);
          background-image: -webkit-linear-gradient(bottom, #d4d4d4 0%, #fff 100%);
          background-image: linear-gradient(bottom, #d4d4d4 0%, #fff 100%);
        }
      }
    }
  }
}